<a href="https://colab.research.google.com/github/dipayandas97/Keras_Notebook/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
import io

import numpy as np
import pandas as pd

In [2]:
data1 = files.upload()

Saving train.csv to train (2).csv

In [3]:
data2 = files.upload()

Saving test.csv to test (1).csv

In [0]:
df_1 = pd.read_csv(io.BytesIO(data1['train.csv']))
df_2 = pd.read_csv(io.BytesIO(data2['test.csv']))

In [84]:
df_1.head()
#891 X 12

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [86]:
df_2.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [0]:
df_1['Sex'] = df_1['Sex'].replace(['male', 'female'], [0,1])
df_2['Sex'] = df_2['Sex'].replace(['male', 'female'], [0,1])

In [0]:
df_1 = df_1.drop(['Name','Ticket','Cabin','Embarked'], axis=1)
df_2 = df_2.drop(['Name','Ticket','Cabin','Embarked'], axis=1)

In [0]:
df_1['Age'].fillna(df_1['Age'].mean(), inplace = True)
df_2['Age'].fillna(df_2['Age'].mean(), inplace = True)

In [0]:
df_1['Pclass'] = df_1['Pclass'].replace([1,2,3],[3,2,1]) #higher the class higher the value
df_2['Pclass'] = df_2['Pclass'].replace([1,2,3],[3,2,1]) #higher the class higher the value

In [91]:
df_1.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       1    0  22.0      1      0   7.2500
1            2         1       3    1  38.0      1      0  71.2833
2            3         1       1    1  26.0      0      0   7.9250
3            4         1       3    1  35.0      1      0  53.1000
4            5         0       1    0  35.0      0      0   8.0500

In [92]:
df_2.head()
#418 X 11

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
0          892       1    0  34.5      0      0   7.8292
1          893       1    1  47.0      1      0   7.0000
2          894       2    0  62.0      0      0   9.6875
3          895       1    0  27.0      0      0   8.6625
4          896       1    1  22.0      1      1  12.2875

In [0]:
train = df_1.values
#test = df_2.values

In [0]:
X_train, y_train = train[:600,2:8], train[:600,1].reshape((600,1))
X_test, y_test = train[600:,2:8], train[600:,1].reshape((291,1))

In [122]:
X_test[0:10,:]

array([[  2.        ,   1.        ,  24.        ,   2.        ,
          1.        ,  27.        ],
       [  1.        ,   0.        ,  29.69911765,   0.        ,
          0.        ,   7.8958    ],
       [  3.        ,   0.        ,  29.69911765,   0.        ,
          0.        ,  42.4       ],
       [  1.        ,   0.        ,  44.        ,   0.        ,
          0.        ,   8.05      ],
       [  3.        ,   0.        ,  35.        ,   0.        ,
          0.        ,  26.55      ],
       [  1.        ,   0.        ,  36.        ,   1.        ,
          0.        ,  15.55      ],
       [  1.        ,   0.        ,  30.        ,   0.        ,
          0.        ,   7.8958    ],
       [  3.        ,   0.        ,  27.        ,   0.        ,
          0.        ,  30.5       ],
       [  2.        ,   1.        ,  22.        ,   1.        ,
          2.        ,  41.5792    ],
       [  3.        ,   1.        ,  40.        ,   0.        ,
          0.        , 153.4625    ]])

In [0]:
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler().fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [124]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression().fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
guess_train = model.predict(X_train)
guess_test = model.predict(X_test)

In [126]:
from sklearn.metrics import accuracy_score
score1 = accuracy_score(y_train, guess_train)
score2 = accuracy_score(y_test, guess_test)

print('Acc. on Training data:',score1)
print('Acc. on Test data:', score2)

Acc. on Training data: 0.7966666666666666
Acc. on Test data: 0.7938144329896907